/* for all default page view */
* {
    padding: 0;
    margin: 0;
}

/* mainBody  */
.mainBody {
    background: linear-gradient(40deg, #27374D, #526D82);
    width: 100%;
}


/* navBar styles */
.navBar {
    position: relative;
    display: flex;
    padding: 20px 8px;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    background-color: transparent;
}


/* only for h2 or logo */
.navBar h2 {
    margin-left: 100px;
}


/* for list style  */
.navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}


/* for making them in little center */
.navBar li {
    margin: 0% 40px;
}

.sections{
    display: flex;
    justify-content: space-around;
    margin: 80px 10px;
}

.leftPart{
    width: 50%;
    margin: 60px 50px;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

.rightPart img{
    height: 500px;
    width: 100%;
}
