/* for all default page view */
* {
    padding: 0;
    margin: 0;
}

/* mainBody  */
.mainBody {
    background: linear-gradient(40deg, #27374D, #526D82);
    width: 100%;
}


/* navBar styles */
.navBar {
    position: relative;
    display: flex;
    padding: 50px 10px;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    background-color: transparent;
}


/* only for h2 or logo */
.navBar h2 {
    margin-left: 100px;
}


/* for list style  */
.navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}


/* for making them in little center */
.navBar li {
    margin: 0% 40px;
}

.sections {
    display: flex;
    justify-content: space-around;
    margin: 80px 10px;
}

.leftPart {
    width: 50%;
    height: 400px;
    margin: 80px auto;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    word-spacing: 10px;
}

.rightPart {
    align-items: center;
    margin: 0px auto;
}

.rightPart img {
    height: 500px;
    width: 100%;
    box-shadow: 20px 8px 20px 1px #27374D;
    border-radius: 30px;
}

.leftPart h3 {
    display: inline-flex;
}

.leftPart h3 ul {
    list-style: none;
    margin-left: 25px;
}

.color {
    color: rgb(116, 116, 245);
}
